[submodule "plog"]
	path = plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "inference/HierarchicalBayesMode"]
	path = inference/HierarchicalBayesMode
	url = https://github.com/woxxel/HierarchicalBayesModel
[submodule "inference/HierarchicalBayesModel"]
	path = inference/HierarchicalBayesModel
	url = https://github.com/woxxel/HierarchicalBayesModel
