[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
scipy = "*"
netcdf4 = "*"
ipython = "*"
ipykernel = "*"
dash = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8"
